aside {
  background-color: #f8f9fa;
  padding: 1rem;
}
aside h2 {
  text-align: center;
}

input[type="text"],
input[type="number"],
textarea,
.button {
  border: 2px solid #f1f3f5;
  padding: 4px;
  border-radius: 5px;
}

.form {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.formList {
  list-style: none;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.buttonCenter {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #12b886;
  color: #003827;
  margin-top: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 12px 16px;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.formLabel {
  font-size: 18px;
}

.formLabel strong {
  font-weight: 700;
  display: inline-block;
  padding: 1.1px 0;
  letter-spacing: -0.25px;
}
