.tableItems {
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f8f9fa;
  grid-column: 2/-1;
  border-radius: 8px;
  /* height: fit-content; */
}

.tableItem {
  box-shadow: 0px 2px #003827;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.tableItem:last-child {
  margin-bottom: 0;
}

.tableItem:nth-child(odd) {
  background-color: #e2fbf4;
}
.tableItem:nth-child(even) {
  background-color: #cbf5e8;
}

.itemQuant {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  align-items: center;
}

.crudOptions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icons {
  cursor: pointer;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.description {
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.4;
}
