/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: rgba(12, 12, 12, 0.733);
  font-weight: 500;
  color: #343a40;
}

body {
  margin: 1rem;
  /* background-color: #15273e; */
}
h1 {
  color: #003827;
  font-size: 44px;
  letter-spacing: -1px;
  text-align: center;
}
h2 {
  color: #003827;
  font-size: 30px;
  letter-spacing: -0.5px;
}

header {
  grid-column: 1/-1;
}
footer p,
footer span {
  color: white;
  margin-top: 0.2rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 14px;
}

.container,
aside {
  border-radius: 8px;
}

.container {
  display: grid;
  gap: 1rem;
  background-color: #0ca678;
  box-sizing: border-box;
  padding: 1rem;

  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 2.5fr 1fr;
}
